*~
*.o
*.gresource.c
.deps
aclocal.m4
autom4te.cache/
compile
compile_commands.json
config.log
config.status
configure
depcomp
/config.h
/config.h.in
gbb
gbb.1
gbb.html
gnome-battery-bench
gnome-battery-bench-helper
install-sh
Makefile
Makefile.in
missing
org.gnome.BatteryBench.Helper.service
org.gnome.BatteryBench.service
stamp-h1
