*.o
*.gresource.c
.deps
aclocal.m4
autom4te.cache/
compile
config.log
config.status
depcomp
/config.h
/config.h.in
gbb
gnome-battery-bench
gnome-battery-bench-helper
install-sh
Makefile
Makefile.in
missing
org.gnome.BatteryBench.Helper.service
stamp-h1
