image: fedora:28
stages:
  - build
before_script :
  - dnf update -y
  - dnf install -y gnome-common libevdev-devel glib-devel polkit-devel desktop-file-utils xmlto-xhtml asciidoc-doc gtk3-devel libXtst-devel libX11-devel libgudev-devel json-glib-devel @development-tools python3 python3-gobject umockdev-devel
test:
  stage: build
  script:
    - ./autogen.sh --prefix=/usr --sysconfdir=/etc
    - make
    - make check
